faqas_coverage.txt
*.compile.out
test*.out
mutator/python/tests/test1/expectedOld.out
mutator/python/tests/test*/FAQAS_dataDrivenMutator.h
mutator/python/tests/test*/main_*
mutator/python/mainProve.c
mutator/python/prova
mutator/python/provavettori2
mutator/python/provavettori
mutator/python/valuetown
mutator/python/a.out
mutator/python/randomfloat
mutator/python/results.csv
FAQAS*.h
mutator/.DS_Store
.DS_Store
mutator/python/spannung
mutator/python/mainProve2.c
.metadata/*
mutator/python/tests/test15/test15old.c
mutator/python/tests/test6/test6old.c
mutator/python/executeTestFigureItOut.sh
mutator/python/NewTest/SUT/main_-1
mutator/python/NewTest/SUT/main_0
*.gcov
*.gcno
*.gcda
mutator/python/tests/test35/FMCoverageReport_test35.csv
mutator/python/tests/test38/FMcoverage2.py
mutator/python/tests/test37/FMCoverageReport_test37.csv
mutator/python/tests/test37/FMcoverage2.py
mutator/python/tests/test36/FMCoverageReport_test36.csv
mutator/python/tests/test36/FMcoverage2.py
mutator/python/tests/test35/FMcoverage2.py
mutator/python/tests/test34/FMCoverageReport_test34.csv
mutator/python/tests/test32/FMCoverageReport_test32.csv
mutator/python/tests/test33/FMCoverageReport_test33.csv
mutator/python/tests/test33/FMCoverageReport_test33.csv
mutator/python/tests/test34/FMCoverageReport_test34.csv
mutator/python/tests/test32/FMCoverageReport_test32.csv
mutator/python/tests/test34/FMCoverageReport_test34.csv
mutator/python/tests/test32/FMCoverageReport_test32.csv
mutator/python/tests/test34/FMCoverageReport_test34.csv
mutator/python/tests/test33/FMCoverageReport_test33.csv
mutator/python/tests/test32/FMCoverageReport_test32.csv
*.txt
