faqas_coverage.txt
*.compile.out
test*.out
mutator/python/tests/test1/expectedOld.out
mutator/python/tests/test*/FAQAS_dataDrivenMutator.h
mutator/python/tests/test*/main_*
mutator/python/mainProve.c
mutator/python/prova
mutator/python/provavettori2
mutator/python/provavettori
mutator/python/valuetown
mutator/python/a.out
mutator/python/randomfloat
mutator/python/results.csv
FAQAS*.h
mutator/.DS_Store
.DS_Store
mutator/python/spannung
mutator/python/mainProve2.c
.metadata/*
mutator/python/tests/test15/test15old.c
mutator/python/tests/test6/test6old.c
mutator/python/executeTestFigureItOut.sh
mutator/python/NewTest/SUT/main_-1
mutator/python/NewTest/SUT/main_0
*.gcov
*.gcno
*.gcda
mutator/python/tests/test35/FMCoverageReport_test35.csv
mutator/python/tests/test38/FMcoverage2.py
mutator/python/tests/test37/FMCoverageReport_test37.csv
mutator/python/tests/test37/FMcoverage2.py
mutator/python/tests/test36/FMCoverageReport_test36.csv
mutator/python/tests/test36/FMcoverage2.py
mutator/python/tests/test35/FMcoverage2.py
mutator/python/tests/test34/FMCoverageReport_test34.csv
mutator/python/tests/test32/FMCoverageReport_test32.csv
mutator/python/tests/test33/FMCoverageReport_test33.csv
mutator/python/tests/test33/FMCoverageReport_test33.csv
mutator/python/tests/test34/FMCoverageReport_test34.csv
mutator/python/tests/test32/FMCoverageReport_test32.csv
mutator/python/tests/test34/FMCoverageReport_test34.csv
mutator/python/tests/test32/FMCoverageReport_test32.csv
mutator/python/tests/test34/FMCoverageReport_test34.csv
mutator/python/tests/test33/FMCoverageReport_test33.csv
mutator/python/tests/test32/FMCoverageReport_test32.csv
.vagrant/machines/default/virtualbox/vagrant_cwd
*.sol
.vagrant/machines/default/virtualbox/action_provision
.vagrant/machines/default/virtualbox/action_set_name
.vagrant/machines/default/virtualbox/box_meta
.vagrant/machines/default/virtualbox/creator_uid
.vagrant/machines/default/virtualbox/id
.vagrant/machines/default/virtualbox/index_uuid
.vagrant/machines/default/virtualbox/private_key
.vagrant/machines/default/virtualbox/synced_folders
.vagrant/rgloader/loader.rb
Vagrantfile
mutator/python/all_results.csv
mutator/python/results_SINGLETON.csv
mutator/python/results_NORMAL.csv
mutator/python/tests/test_compilation/FMcoverage2.py
mutator/python/tests/test_compilation/FMCoverageReport_test_compilation.csv
mutator/python/tests/test_compilation/hlreport.csv
mutator/python/operators_map.csv
mutator/python/tests/test01/logging.txt
mutator/python/FAQAS_mutants_table.csv
mutator/logz.txt
mutator/python/tests/FaultModels/backup/faultModel03.csv
.DS_Store
mutator/python/results/fault_model_ESAIL_ADCS.csv
mutator/python/results/NAificator.py
mutator/python/tests/FaultModels/backup/chiamami_sul_trap_phone.sh
mutator/python/tests/FaultModels/backup/faultModel01.csv
mutator/python/tests/FaultModels/backup/faultModel02.csv
mutator/python/tests/FaultModels/backup/faultModel04.csv
mutator/python/tests/FaultModels/backup/faultModel05.csv
mutator/python/tests/FaultModels/backup/faultModel06.csv
mutator/python/tests/FaultModels/backup/faultModel07.csv
mutator/python/tests/FaultModels/backup/faultModel08.csv
mutator/python/tests/FaultModels/backup/faultModel09.csv
mutator/python/tests/FaultModels/backup/faultModel10.csv
mutator/python/tests/FaultModels/backup/faultModel11.csv
mutator/python/tests/FaultModels/backup/faultModel12.csv
mutator/python/tests/FaultModels/backup/faultModel13.csv
mutator/python/tests/FaultModels/backup/faultModel14.csv
mutator/python/tests/FaultModels/backup/faultModel15.csv
mutator/python/tests/FaultModels/backup/faultModel16.csv
mutator/python/tests/FaultModels/backup/faultModel17.csv
mutator/python/tests/FaultModels/backup/faultModel18.csv
mutator/python/tests/FaultModels/backup/faultModel19.csv
mutator/python/tests/FaultModels/backup/faultModel20.csv
mutator/python/tests/FaultModels/backup/faultModel21.csv
mutator/python/tests/FaultModels/backup/faultModel22.csv
mutator/python/tests/FaultModels/backup/faultModel23.csv
mutator/python/tests/FaultModels/backup/faultModel24.csv
mutator/python/tests/FaultModels/backup/faultModel25.csv
mutator/python/tests/FaultModels/backup/faultModel26.csv
mutator/python/tests/FaultModels/backup/faultModel27.csv
mutator/python/tests/FaultModels/backup/faultModel28.csv
mutator/python/tests/FaultModels/backup/faultModel29.csv
mutator/python/tests/FaultModels/backup/faultModel30.csv
mutator/python/tests/FaultModels/backup/faultModel31.csv
mutator/python/tests/FaultModels/backup/faultModel32.csv
mutator/python/tests/FaultModels/backup/faultModel38.csv
mutator/python/tests/FaultModels/backup/faultModel39.csv
mutator/python/tests/FaultModels/backup/faultModel40.csv
mutator/python/tests/FaultModels/backup/faultModel41.csv
mutator/python/tests/FaultModels/backup/faultModel42.csv
mutator/python/tests/FaultModels/backup/faultModel43.csv
mutator/python/tests/FaultModels/backup/faultModel44.csv
mutator/python/tests/FaultModels/backup/faultModel45.csv
mutator/python/tests/FaultModels/backup/faultModel46.csv
mutator/python/tests/FaultModels/backup/faultModel47.csv
mutator/python/tests/FaultModels/backup/faultModel48.csv
mutator/python/tests/FaultModels/backup/faultModel49.csv
mutator/python/tests/FaultModels/backup/faultModel50.csv
mutator/python/tests/FaultModels/backup/faultModel51.csv
mutator/python/tests/FaultModels/backup/faultModel52.csv
mutator/python/tests/FaultModels/backup/faultModel53.csv
mutator/python/tests/FaultModels/backup/faultModel54.csv
mutator/python/tests/FaultModels/backup/faultModel55.csv
mutator/python/tests/FaultModels/backup/faultModel56.csv
mutator/python/tests/FaultModels/backup/faultModel57.csv
mutator/python/tests/FaultModels/backup/faultModel58.csv
mutator/python/tests/FaultModels/backup/faultModel59.csv
mutator/python/tests/FaultModels/backup/faultModel_compilation.csv
mutator/python/tests/FaultModels/backup/NAificator.py
mutator/python/tests/FaultModels/chiamami_sul_trap_phone.sh
mutator/python/tests/FaultModels/NAificator.py
mutator/python/all_resorted.csv
mutator/src/all_results.csv
mutator/src/FAQAS_mutants_table.csv
mutator/src/results_NORMAL.csv
mutator/src/results_SINGLETON.csv
mutator/src/tests/results.csv
mutator/src/tests/test06/test6old.c
mutator/src/tests/test32/FMcoverage.py
mutator/src/tests/test32/FMCoverageReport_test32.csv
mutator/src/tests/test32/hlreport.csv
mutator/src/tests/test35/FMcoverage2.py
mutator/src/tests/test35/FMCoverageReport_test35.csv
mutator/src/tests/test35/hlreport.csv
mutator/src/tests/test45/FMcoverage2.py
mutator/src/tests/test_compilation/FMcoverage2.py
mutator/src/tests/test_compilation/FMCoverageReport_test_compilation.csv
mutator/src/tests/test_compilation/hlreport.csv
mutator/src/tests/test73/main_-1
mutator/src/tests/test01/main_-1
mutator/src/tests/test01/main_0
mutator/src/tests/test01/main_1
mutator/src/tests/test01/main_2
mutator/src/tests/test01/main_3
mutator/src/tests/test01/main_4
mutator/src/tests/test02/main_-1
mutator/src/tests/test02/main_0
mutator/src/tests/test02/main_1
mutator/src/tests/test02/main_2
mutator/src/tests/test02/main_3
mutator/src/tests/test02/main_4
mutator/src/tests/test03/main_-1
mutator/src/tests/test03/main_0
mutator/src/tests/test03/main_1
mutator/src/tests/test03/main_2
mutator/src/tests/test03/main_3
mutator/src/tests/test04/main_-1
mutator/src/tests/test04/main_0
mutator/src/tests/test04/main_1
mutator/src/tests/test04/main_2
mutator/src/tests/test04/main_3
mutator/src/tests/test04/main_4
mutator/src/tests/test05/main_-1
mutator/src/tests/test05/main_0
mutator/src/tests/test05/main_1
mutator/src/tests/test05/main_2
mutator/src/tests/test05/main_3
mutator/src/tests/test06/main_-1
mutator/src/tests/test06/main_0
mutator/src/tests/test06/main_1
mutator/src/tests/test06/main_2
mutator/src/tests/test06/main_3
mutator/src/tests/test06/main_4
mutator/src/tests/test07/main_-1
mutator/src/tests/test07/main_0
mutator/src/tests/test07/main_1
mutator/src/tests/test07/main_2
mutator/src/tests/test07/main_3
mutator/src/tests/test07/main_4
mutator/src/tests/test08/main_-1
mutator/src/tests/test08/main_0
mutator/src/tests/test08/main_1
mutator/src/tests/test08/main_2
mutator/src/tests/test08/main_3
mutator/src/tests/test08/main_4
mutator/src/tests/test09/main_-1
mutator/src/tests/test09/main_0
mutator/src/tests/test09/main_1
mutator/src/tests/test09/main_2
mutator/src/tests/test09/main_3
mutator/src/tests/test10/main_-1
mutator/src/tests/test10/main_0
mutator/src/tests/test10/main_1
mutator/src/tests/test10/main_2
mutator/src/tests/test10/main_3
mutator/src/tests/test10/main_4
mutator/src/tests/test11/main_-1
mutator/src/tests/test11/main_0
mutator/src/tests/test11/main_1
mutator/src/tests/test11/main_2
mutator/src/tests/test11/main_3
mutator/src/tests/test11/main_4
mutator/src/tests/test12/main_-1
mutator/src/tests/test12/main_0
mutator/src/tests/test13/main_-1
mutator/src/tests/test13/main_0
mutator/src/tests/test14/main_-1
mutator/src/tests/test14/main_0
mutator/src/tests/test15/main_-1
mutator/src/tests/test15/main_0
mutator/src/tests/test16/main_-1
mutator/src/tests/test16/main_0
mutator/src/tests/test17/main_-1
mutator/src/tests/test17/main_0
mutator/src/tests/test17/main_1
mutator/src/tests/test17/main_2
mutator/src/tests/test17/main_3
mutator/src/tests/test17/main_4
mutator/src/tests/test18/main_-1
mutator/src/tests/test18/main_0
mutator/src/tests/test18/main_1
mutator/src/tests/test18/main_2
mutator/src/tests/test18/main_3
mutator/src/tests/test18/main_4
mutator/src/tests/test19/main_-1
mutator/src/tests/test19/main_0
mutator/src/tests/test19/main_1
mutator/src/tests/test19/main_2
mutator/src/tests/test19/main_3
mutator/src/tests/test19/main_4
mutator/src/tests/test20/main_-1
mutator/src/tests/test20/main_0
mutator/src/tests/test20/main_1
mutator/src/tests/test20/main_2
mutator/src/tests/test20/main_3
mutator/src/tests/test20/main_4
mutator/src/tests/test21/main_-1
mutator/src/tests/test21/main_0
mutator/src/tests/test22/main_-1
mutator/src/tests/test22/main_0
mutator/src/tests/test23/main_-1
mutator/src/tests/test23/main_0
mutator/src/tests/test24/main_-1
mutator/src/tests/test24/main_0
mutator/src/tests/test25/main_-1
mutator/src/tests/test25/main_0
mutator/src/tests/test25/main_1
mutator/src/tests/test25/main_2
mutator/src/tests/test25/main_3
mutator/src/tests/test25/main_4
mutator/src/tests/test26/main_-1
mutator/src/tests/test26/main_0
mutator/src/tests/test26/main_1
mutator/src/tests/test26/main_2
mutator/src/tests/test26/main_3
mutator/src/tests/test26/main_4
mutator/src/tests/test27/main_-1
mutator/src/tests/test27/main_0
mutator/src/tests/test28/main_-1
mutator/src/tests/test28/main_0
mutator/src/tests/test29/main_-1
mutator/src/tests/test29/main_0
mutator/src/tests/test30/main_-1
mutator/src/tests/test30/main_0
mutator/src/tests/test30/main_1
mutator/src/tests/test30/main_2
mutator/src/tests/test30/main_3
mutator/src/tests/test30/main_4
mutator/src/tests/test30/main_5
mutator/src/tests/test32/main_-1
mutator/src/tests/test32/main_-2
mutator/src/tests/test32/main_0
mutator/src/tests/test32/main_1
mutator/src/tests/test32/main_2
mutator/src/tests/test32/main_3
mutator/src/tests/test32/main_4
mutator/src/tests/test32/main_5
mutator/src/tests/test35/main_-1
mutator/src/tests/test35/main_-2
mutator/src/tests/test35/main_0
mutator/src/tests/test35/main_1
mutator/src/tests/test35/main_2
mutator/src/tests/test35/main_3
mutator/src/tests/test35/main_4
mutator/src/tests/test35/main_5
mutator/src/tests/test38/main_-1
mutator/src/tests/test38/main_0
mutator/src/tests/test38/main_1
mutator/src/tests/test38/main_2
mutator/src/tests/test38/main_3
mutator/src/tests/test38/main_4
mutator/src/tests/test39/main_-1
mutator/src/tests/test39/main_0
mutator/src/tests/test39/main_1
mutator/src/tests/test39/main_2
mutator/src/tests/test39/main_3
mutator/src/tests/test39/main_4
mutator/src/tests/test40/main_-1
mutator/src/tests/test40/main_0
mutator/src/tests/test40/main_1
mutator/src/tests/test40/main_2
mutator/src/tests/test40/main_3
mutator/src/tests/test40/main_4
mutator/src/tests/test42/main_-1
mutator/src/tests/test42/main_0
mutator/src/tests/test42/main_1
mutator/src/tests/test42/main_2
mutator/src/tests/test42/main_3
mutator/src/tests/test42/main_4
mutator/src/tests/test42/main_5
mutator/src/tests/test42/main_6
mutator/src/tests/test42/main_7
mutator/src/tests/test42/main_8
mutator/src/tests/test44/main_-1
mutator/src/tests/test44/main_0
mutator/src/tests/test44/main_1
mutator/src/tests/test44/main_2
mutator/src/tests/test44/main_3
mutator/src/tests/test44/main_4
mutator/src/tests/test44/main_5
mutator/src/tests/test44/main_6
mutator/src/tests/test45/main_-1
mutator/src/tests/test45/main_0
mutator/src/tests/test45/main_1
mutator/src/tests/test45/main_2
mutator/src/tests/test45/main_3
mutator/src/tests/test45/main_4
mutator/src/tests/test46/main_-1
mutator/src/tests/test46/main_0
mutator/src/tests/test46/main_1
mutator/src/tests/test46/main_2
mutator/src/tests/test46/main_3
mutator/src/tests/test46/main_4
mutator/src/tests/test47/main_-1
mutator/src/tests/test47/main_0
mutator/src/tests/test47/main_1
mutator/src/tests/test47/main_2
mutator/src/tests/test47/main_3
mutator/src/tests/test47/main_4
mutator/src/tests/test48/main_-1
mutator/src/tests/test48/main_0
mutator/src/tests/test48/main_1
mutator/src/tests/test48/main_2
mutator/src/tests/test48/main_3
mutator/src/tests/test48/main_4
mutator/src/tests/test48/main_5
mutator/src/tests/test48/main_6
mutator/src/tests/test49/main_-1
mutator/src/tests/test49/main_0
mutator/src/tests/test49/main_1
mutator/src/tests/test49/main_2
mutator/src/tests/test49/main_3
mutator/src/tests/test49/main_4
mutator/src/tests/test49/main_5
mutator/src/tests/test49/main_6
mutator/src/tests/test50/main_-1
mutator/src/tests/test50/main_0
mutator/src/tests/test50/main_1
mutator/src/tests/test50/main_2
mutator/src/tests/test50/main_3
mutator/src/tests/test50/main_4
mutator/src/tests/test50/main_5
mutator/src/tests/test51/main_-1
mutator/src/tests/test51/main_0
mutator/src/tests/test51/main_1
mutator/src/tests/test51/main_2
mutator/src/tests/test51/main_3
mutator/src/tests/test51/main_4
mutator/src/tests/test51/main_5
mutator/src/tests/test52/main_-1
mutator/src/tests/test52/main_0
mutator/src/tests/test52/main_1
mutator/src/tests/test52/main_2
mutator/src/tests/test52/main_3
mutator/src/tests/test52/main_4
mutator/src/tests/test52/main_5
mutator/src/tests/test53/main_-1
mutator/src/tests/test53/main_0
mutator/src/tests/test53/main_1
mutator/src/tests/test53/main_2
mutator/src/tests/test53/main_3
mutator/src/tests/test53/main_4
mutator/src/tests/test53/main_5
mutator/src/tests/test54/main_-1
mutator/src/tests/test54/main_0
mutator/src/tests/test54/main_1
mutator/src/tests/test54/main_2
mutator/src/tests/test54/main_3
mutator/src/tests/test54/main_4
mutator/src/tests/test54/main_5
mutator/src/tests/test55/main_-1
mutator/src/tests/test55/main_0
mutator/src/tests/test55/main_1
mutator/src/tests/test55/main_2
mutator/src/tests/test55/main_3
mutator/src/tests/test55/main_4
mutator/src/tests/test55/main_5
mutator/src/tests/test56/main_-1
mutator/src/tests/test56/main_0
mutator/src/tests/test56/main_1
mutator/src/tests/test56/main_2
mutator/src/tests/test56/main_3
mutator/src/tests/test56/main_4
mutator/src/tests/test56/main_5
mutator/src/tests/test56/main_6
mutator/src/tests/test57/main_-1
mutator/src/tests/test57/main_0
mutator/src/tests/test57/main_1
mutator/src/tests/test57/main_2
mutator/src/tests/test57/main_3
mutator/src/tests/test57/main_4
mutator/src/tests/test57/main_5
mutator/src/tests/test57/main_6
mutator/src/tests/test58/main_-1
mutator/src/tests/test58/main_0
mutator/src/tests/test58/main_1
mutator/src/tests/test58/main_2
mutator/src/tests/test58/main_3
mutator/src/tests/test58/main_4
mutator/src/tests/test58/main_5
mutator/src/tests/test60/main_-1
mutator/src/tests/test60/main_0
mutator/src/tests/test60/main_1
mutator/src/tests/test60/main_2
mutator/src/tests/test60/main_3
mutator/src/tests/test60/main_4
mutator/src/tests/test60/main_5
mutator/src/tests/test61/main_-1
mutator/src/tests/test61/main_0
mutator/src/tests/test61/main_1
mutator/src/tests/test61/main_2
mutator/src/tests/test61/main_3
mutator/src/tests/test61/main_4
mutator/src/tests/test61/main_5
mutator/src/tests/test61/main_6
mutator/src/tests/test61/main_7
mutator/src/tests/test61/main_8
mutator/src/tests/test62/main_-1
mutator/src/tests/test62/main_0
mutator/src/tests/test62/main_1
mutator/src/tests/test62/main_2
mutator/src/tests/test62/main_3
mutator/src/tests/test62/main_4
mutator/src/tests/test62/main_5
mutator/src/tests/test63/main_-1
mutator/src/tests/test63/main_0
mutator/src/tests/test63/main_1
mutator/src/tests/test63/main_2
mutator/src/tests/test63/main_3
mutator/src/tests/test63/main_4
mutator/src/tests/test63/main_5
mutator/src/tests/test64/main_-1
mutator/src/tests/test64/main_0
mutator/src/tests/test64/main_1
mutator/src/tests/test64/main_2
mutator/src/tests/test64/main_3
mutator/src/tests/test64/main_4
mutator/src/tests/test64/main_5
mutator/src/tests/test65/main_-1
mutator/src/tests/test65/main_0
mutator/src/tests/test65/main_1
mutator/src/tests/test65/main_2
mutator/src/tests/test65/main_3
mutator/src/tests/test65/main_4
mutator/src/tests/test65/main_5
mutator/src/tests/test66/main_-1
mutator/src/tests/test66/main_0
mutator/src/tests/test66/main_1
mutator/src/tests/test66/main_2
mutator/src/tests/test66/main_3
mutator/src/tests/test67/main_-1
mutator/src/tests/test67/main_0
mutator/src/tests/test67/main_1
mutator/src/tests/test67/main_2
mutator/src/tests/test67/main_3
mutator/src/tests/test68/main_-1
mutator/src/tests/test68/main_0
mutator/src/tests/test68/main_1
mutator/src/tests/test68/main_2
mutator/src/tests/test68/main_3
mutator/src/tests/test69/main_-1
mutator/src/tests/test69/main_0
mutator/src/tests/test69/main_1
mutator/src/tests/test69/main_2
mutator/src/tests/test69/main_3
mutator/src/tests/test70/main_-1
mutator/src/tests/test70/main_0
mutator/src/tests/test71/main_-1
mutator/src/tests/test71/main_0
mutator/src/tests/test72/main_-1
mutator/src/tests/test72/main_0
mutator/src/tests/test73/main_0
mutator/src/tests/test73/main_1
mutator/src/tests/test73/main_2
mutator/src/tests/test_compilation/main_-1
mutator/src/tests/test_compilation/main_0
mutator/src/tests/test_compilation/main_1
mutator/src/tests/test_compilation/main_2
mutator/src/tests/test_compilation/main_3
damat-pipeline/bkp/DAMAt_compile.sh
damat-pipeline/bkp/DAMAt_configure.sh
damat-pipeline/bkp/DAMAt_mutants_launcher.sh
damat-pipeline/bkp/DAMAt_probe_generation.sh
damat-pipeline/bkp/DAMAt_run_tests.sh
damat-pipeline/bkp/data_analysis/beautify_results.py
damat-pipeline/bkp/data_analysis/get_coverage.py
damat-pipeline/bkp/data_analysis/get_final_results.py
damat-pipeline/bkp/data_analysis/get_operator_coverage.py
damat-pipeline/bkp/data_analysis/get_stats.py
damat-pipeline/bkp/DDB_TEMPLATE_footer.c
damat-pipeline/bkp/DDB_TEMPLATE_header.c
damat-pipeline/bkp/fault_model.csv
damat-pipeline/bkp/generateDataMutator.py
damat-pipeline/bkp/instrumented_files/AdcsIf_instr.cpp
damat-pipeline/bkp/instrumented_files/OhbConfig_instr.cmake
damat-pipeline/bkp/LICENSE.txt
damat-pipeline/bkp/pipeline_scripts/DAMAt_compile_and_run_mutants.sh
damat-pipeline/bkp/pipeline_scripts/DAMAt_data_analysis.sh
damat-pipeline/bkp/pipeline_scripts/DAMAt_obtain_coverage.sh
damat-pipeline/bkp/pipeline_scripts/get_mutant_test_list.py
damat-pipeline/bkp/README.md
damat-pipeline/bkp/tests.csv
damat-pipeline/libparam_set_up/DAMAt_compile.sh
damat-pipeline/libparam_set_up/DAMAt_run_tests.sh
damat-pipeline/libparam_set_up/fault_model_param.csv
damat-pipeline/libparam_set_up/tests_param.csv
damat-pipeline/libparam_set_up/wscript
damat-pipeline/libparam_set_up/csp_service_handler.c
mutator/src/function_calls.out
mutator/src/tests/test31/main_-1
mutator/src/tests/test31/main_0
